// 元件庫
// ---------------------------------------------------------------------- //

// 無障礙定位點
// --------------------------------------------------------------- //
.accesskey{ display: none; }
@media screen and (min-width: $wwNormal){
  a.accesskey{ 
    display: block; z-index: 99;
    position: absolute; left: 0; top: 0;
    text-decoration: none; padding: 3px;
    outline: none;
    &:focus, &:hover { box-shadow: $primaryColor 0 0 0 2px inset;}
    &:focus-visible { background-color: rgb(255 255 255 / .8);}
  }
}
@media screen and (min-width: calc($wwMaximum + 40px)){
  .siteHeader .accesskey,
  .main  .accesskey,
  .siteFooter .accesskey {left: calc( 50vw - $wwMaximum*.5 - 20px );}
}

// 漢堡圖示
.sidebarCtrl{
  --ting: #{$black};
  --bgc: #{$gray100};

  position: absolute;
  width: 44px; height: 44px;
  background-color: var(--bgc);
  border: none; border-radius: 0; margin: 0;
  transition: .2s;
  &::before, &::after {
    content: ''; 
    position: absolute; left: calc(50% - 11px); top: calc(50% - 2px);
    width: 22px; height: 3px;
    background-color: var(--ting);
  }
  &::before {
    box-shadow: var(--ting) 0 -8px 0, var(--ting) 0 8px 0;
    transition: rotate .2s, box-shadow .2s .2s;
  }
  &::after{opacity: 0;transition: rotate .2s, opacity .2s .2s;}
  &.closeIt{
    &::before{
      box-shadow: none;
      rotate: 45deg;
      transition: rotate .2s .2s, box-shadow .2s;
    }
    &::after{
      opacity: 1;
      rotate: -45deg;
      transition: rotate .2s .2s, opacity .2s;
    }
  }

  &:hover, &:focus {
    --bgc: #{$gray200};
    box-shadow: var(--bgc) 0 0 0 3px;
  }
  &:focus-visible {
    box-shadow: $primaryColor 0 0 0 3px;
  }
  @media screen and (min-width: $wwNormal){
    display: none;
  }
}

// 鍵盤樣式
// --------------------------------------------------------------- //
kbd {
  display: inline-block; vertical-align: middle; 
  margin: 0 .1em; padding: 0 .4em; height: 1.7em; line-height: 1.6;
  font-size: .938em; font-family: sans-serif; font-weight: bold; 
  border: 1px solid $borderColor; border-radius: 3px; 
  color: $fontColor; background: $fontInvert; 
  box-shadow: $shadow1 0 2px 0 1px;
  i{font-weight: normal;}
}

// ---------------------------------------------------------------------- //
.more {
  margin: 28px 0 0;
  text-align: center;
  a{
    display: inline-block; padding: 12px 24px;
    text-decoration: none; border-radius: 24px;
    background-color: $primaryColor; color: $fontInvert;
    transition: .2s;
    &:hover {
      box-shadow:$white 0 0 0 0, $primaryColor 0 0 0 2px;
    }
    &:focus{
      box-shadow:$bgc1 0 0 0 1px, $primaryColor 0 0 0 4px;
    }
  }
}
// ---------------------------------------------------------------------- //


// 跳至內容區 
// --------------------------------------------------------------- //
.goCenter{
  --bg:#555;
  --color:#fff;

  display: none;
  @media screen and (min-width: $wwNormal) {
    display: block; z-index: 880; z-index: 1000;
    position: fixed; top: -2em; left: 300px;  
    padding: 0 .5em; border-radius: 0 0 4px 4px;
    overflow: hidden;
    height: 1.6em; line-height: 1.7;
    text-decoration: none; outline: none; cursor: pointer;
    background-color: var(--bg); color: var(--color);
    transition:top .3s; 
    &:focus{ --bg: #000; top: 0;}
  }
  @media screen and (min-width: $wwMaximum) {
    left: calc( 50vw  - #{$wwMaximum}*.5 + 300px );
  }
}
// --------------------------------------------------------------- //


// 回頁頂
// --------------------------------------------------------------- //
.goTop {
  position: fixed; right: 8px; bottom: 16px;
  border: none; padding: 0;
  width: 48px; height: 48px; border-radius: 50%;
  outline: none;
  background-color: $primaryColor;
  translate: 0 150%;
  transition:box-shadow .2s, translate 1s;
  &.show{translate: 0 0;}
  &::before , &::after {
    content: ''; position: absolute; 
    left: calc(50% - 6px); 
    width: 0; height: 0;
    border-style: solid; border-width: 0 6px 6px 6px;
    border-color: transparent transparent #fff transparent ;
  }
  &::before{top: calc(50% - 8px);}
  &::after{top: 50%;}
  &:hover {box-shadow:#fff 0 0 0 0, $primaryColor 0 0 0 3px;}
  &:focus {box-shadow:#fff 0 0 0 1px, $primaryColor 0 0 0 4px;}

  @media screen and (min-width: $wwMaximum){
    right: calc( 50vw - $wwMaximum*.5 + 12px);
  }
}
// ---------------------------------------------------------------------- //

// 行動版側欄遮罩
// --------------------------------------------------------------- //
.sidebarMask {
  display: none; z-index: 900;
  position: fixed; left: 0;right: 0;top: 0;bottom: 0;
  background-color: rgb(0 0 0 / .6);
}


// 關閉 「X」
// --------------------------------------------------------------- //
button.closeThis{
  --width:48px;
  --bar-length:28px;
  --bar-thick:4px;
  --tinge: #fff;
  --bgc: rgb(48 48 48/ .6);

  position: relative;
  height: var(--width); width:  var(--width); padding: 0; margin: 0;
  text-indent: -20em; overflow: hidden;
  border: none; outline: none; border-radius: 0;
  background-color: var(--bgc);

  &::before, &::after{
    content: ''; position: absolute; 
    background-color: var(--tinge);
    left: calc( (var(--width) - var(--bar-length))/2 );
    top:  calc( (var(--width) - var(--bar-thick))/2 );
    width: var(--bar-length); height: var(--bar-thick);
  }
  &::before{transform: rotate(45deg);}
  &::after{transform: rotate(-45deg);}

  &:hover, &:focus { 
    --bgc: #{$warning};
    background-color: var(--bgc);
    box-shadow: var(--bgc) 0 0 0 3px;
  }
}


// a 或 span 模擬 button 元件樣式
// ---------------------------------------------------------------------- //
.button{
  display: inline-block;margin: 3px auto;text-align: center;
  &>a {
    display: block;
    background-color: $secondaryColor;
    height: 2.6em; line-height: 2.6;
    padding: 0 1.5em; border-radius: 2em;
    outline: none;
    color: $white;
    text-decoration: none;
    transition: .2s;
    &:hover{box-shadow:transparent 0 0 0 0, $secondaryColor 0 0 0 2px;}
    &:focus {box-shadow:$white 0 0 0 1px, $secondaryColor 0 0 0 4px;}
  }
}
.cpArticle{
  .button>a{
    text-decoration: none;outline: none;
    color: $white;
    &:hover{box-shadow:transparent 0 0 0 0, $secondaryColor 0 0 0 2px;}
    &:focus {box-shadow:$white 0 0 0 1px, $secondaryColor 0 0 0 4px;}
  }
}
// ---------------------------------------------------------------------- //



// 檔案類型圖示 //
// ------------------------------------------------------ //
.fileType{
  --bg : #aaa;
  --color : #fff;

  display: block; position: relative; 
  margin: 0; width: 28px; height: 32px; line-height:42px;
  font-size: .6rem; text-decoration: none; text-align: center;
  color: var(--color); 
  background-image: linear-gradient(45deg, var(--bg) 86%, transparent 86%);
  border-radius: 3px;
  transition: .2s;

  &::before, &::after{
    content: ''; position: absolute;
  }
  &::before{
    top: 5px; left: 5px; right: 5px; height: 1px;
    background-color: rgba(255,255,255,.65);
    box-shadow: rgba(255,255,255,.65) 0 3px 0, rgba(255,255,255,.65) 0 6px 0;
  }
  &::after{
    right: 0; top: 0;
    width: 8px; height: 8px; border-radius: 0 0 0 2px;
    background-color: rgba(255,255,255,.65);
  }
  &.pdf { --bg : #d00; }
  &.doc , &.docx, &.odt{ --bg:#0863a0; }
  &.xls, &.xlsx, &.csv, &.ods { --bg:#48920f; }
  &.ppt, &.pptx, &.odp{ --bg:#f75217; }
  &.txt { --bg:#1d98e4; }
  &.jpg,  &.jpeg,  &.png { --bg:#089c9f; }
  &.mp3, &.mp4 { --bg:#9d3a89; }
  &.mov, &.wmv{ --bg:#5843a9; }
  &.zip { --bg:#333; }
  &.other { --bg:#555;}
}
a .fileType, .fileType>a{ color: $white; text-decoration: none; }
a:hover, a:focus{
  .fileType{box-shadow:var(--color) 0 0 0 1px inset, var(--bg) 0 0 0 2px;}
}
// ------------------------------------------------------ //


// ---------------------------------------------------------------------- //
// slick 套件用元件樣式 ------------------------------------------------- //
// ---------------------------------------------------------------------- //
.slick-slider {
  position: relative;
  margin: 0 auto;

  button {
    border: none;outline: none;box-shadow: none;
    background-color: transparent;
    padding: 0; margin: 0;width: auto; 
    overflow: hidden; cursor: pointer;
  }

  // 點點或數字
  .slick-dots { 
    --tinge: #{$gray500};

    list-style: none; margin: 0 auto; padding: 0;
    text-align: center; font-size: 0;
    li { 
      display: inline-block; margin: 0 5px;padding: 11px 0;
      button { 
        width: 8px; height: 8px; border-radius: 4px;
        font-size: 0;
        background-color: var(--tinge);
        transition:all .2s, width .3s;
        &:hover, &:focus{box-shadow: var(--tinge) 0 0 0 2px;}
      }

      &.slick-active{
        --tinge: #{$focus};
        button{ 
          width: 28px; 
          &:focus{ box-shadow:#eee 0 0 0 1px,  var(--tinge) 0 0 0 3px; }
        }
      }

    }
  }

  // 左右箭頭
  .slick-arrow {
    --tinge: #fff;
    --bgc: rgb(0 0 0 / .3);
    --gap: 8px;
    --size: 64px;
    --arrow-size: 18px;

    position: absolute; z-index: 9; 
    top: 50%; translate: 0 calc(var(--size)*(-.5));
    width: var(--size); height: var(--size);
    font-size: 0; cursor: pointer; border-radius: 50%;
    background-color: var(--bgc);
    transition: .2s;
    &::before{
      content: ''; display: block; margin: 0 auto ;
      width: var(--arrow-size); height: var(--arrow-size);
      transform:  rotate(45deg);
      border: 3px solid var(--tinge);
    }

    &.slick-prev { 
      left: var(--gap); padding-left: calc(var(--size)/2 - var(--arrow-size)/2 - 14px);
      &::before{border-top: none; border-right: none;}
    }
    &.slick-next { 
      right: var(--gap); padding-right: calc(var(--size)/2 - var(--arrow-size)/2 - 14px);
      &::before{ border-bottom: none; border-left: none;}
    }

    &:hover, &:focus{ 
      --bgc: rgb(0 0 0 / .8);
      box-shadow: none; 
    }
    &:focus{ 
      box-shadow: $white 0 0 0 1px, var(--bgc) 0 0 0 5px; 
    }
  }
}
// ---------------------------------------------------------------------- //
// ---------------------------------------------------------------------- //