// 條列頁容器
// ---------------------------------------------------------------- //
.lp {
  @extend %primSecWidth;
  margin-top: 16px;margin-bottom: 48px;

  ul.list, ol.list{ list-style: none; margin: 0; padding: 0; line-height: 1.6; }
  li{
    margin: 0;padding: 0;
    &>a{ display: block; text-decoration: none; color: $fontColor; }
  }
}
// ---------------------------------------------------------------- //



// 項目 ul, ol 條列
// ---------------------------------------------------------------- //
.lp ul.list, .lp ol.list{
  --focusOutline: #{$focus};
  --bdColor: #{$borderColor};

  border-top: 2px solid var(--bdColor);
  border-bottom: 1px solid var(--bdColor);
  &>li{
    padding: 3px 0;
    border-bottom: 1px solid var(--bdColor);
    &>a {
      display: flex; flex-wrap: wrap; align-items: flex-start;
      padding:12px 4px 11px; transition: .2s;
      &:hover, &:focus {
        .title{text-decoration: underline;}
      }
      &:focus-visible {box-shadow: var(--focusOutline) 0 0 0 2px inset; border-radius: 8px;}
    }
    .number{ 
      flex: 0 0 auto; text-align: right; margin-left: .3em;
      &::after {content: '.'; margin-right: -.2em;}
    }
    .title{ 
      flex: 0 0 100%; order: 3; margin: 8px 0 0;
      font-size: 1.125em; 
    }
    time{
      flex: 0 0 7em; margin-left: auto; text-align: right; 
      color: $fontColorLight; 
    }
  }

  @media screen and (min-width: $wwMedium){
    &>li{
      &>a{
        flex-wrap: nowrap;padding:14px 4px 13px; 
        .number {
          flex: 0 1 2em;order: 0;
          width: 2em;margin-right: 1em; margin-left: 0; line-height: 1.8;
        }
        .title {
          margin: 0;flex: 0 1 calc(100% - 9.5em); order: 1;
        }
        time{order: 2;}
      }
    }
  }
  
}
// ---------------------------------------------------------------- //



// 表格條列
// ---------------------------------------------------------------- //
table.list{
  margin:0 auto;
  width: 100%; line-height: 1.6; font-size: 1.125em;
  border-collapse: collapse; 
  border: 2px solid $borderColor;
  
  caption{padding: 0 0 .4em;}
  th, td {
    padding: 16px 15px 15px;
    border: 1px solid $borderColor;
    border-top: none;border-left: none;
    &:last-child {border-right: none;}
  }
  thead{
    background-color: $primaryColor; color: $white;
    th{ 
      white-space: nowrap; font-weight: normal;
      border-bottom: none;
    }
  }

  tbody{
    tr{
      transition: background-color .2s;
      &:last-child{
        td{border-bottom: none;}
      }
      &:hover{ background-color: $gray100;}
    }
  }

  td{
    text-align: left; word-break: break-all;
    a{
      color: $fontColor; text-decoration: underline; transition: .2s;
      &:hover, &:focus{text-decoration: none;}
      &:focus{ outline: 1px solid $linkColor;}
    }

  }

  @media screen and (max-width: $wwMedium){
  
    margin: 0 auto;

  }
}

.lp:has(>table.list) {
  border-radius: $radius2; overflow: hidden;
  margin: 20px auto;
  border: 3px solid $borderColor;
}
.lp table.list {
  border: none;
}
// ---------------------------------------------------------------- //



//////////////////////////////////////////////////////////////////////
///////////////////////////// RWD 表格 ///////////////////////////////
//////////////////////////////////////////////////////////////////////


// lp 的 RWD 表格
// ---------------------------------------------------------------- //
.lp:has(.rwdTable) {
  @media screen and (max-width: $wwMedium){
    border: none; border-radius: 0;
    overflow: visible;
  }
}
.lp>table.rwdTable{
  margin: 0 auto; border: none;
  @media screen and (max-width: $wwMedium){
    tbody tr:last-child td{
      border-bottom: 1px dotted $borderColor;
    }
  }
}


// RWD 表格，小螢幕時 tr 表現為 block //
// ---------------------------------------------------------------- //
table.rwdTable{
  @media screen and (max-width: $wwMedium){
    border: none; width: 100%;
    thead{ display: none;}
    tbody{ 
      border: none;
      tr{
        border: 1px solid $borderColor;
        transition: .2s;
        &:hover{
          background-color: $white;
          border-color: transparent;
          box-shadow: $borderColorDark 0 0 0 2px, $shadow1 0 0 14px;
        } 
        &:last-child td{
          border-bottom: 1px dotted $borderColor;
          &:last-child{border: none;}
        }
     
      }
      tr, td, th{display: block;}
    }
    tr{ 
      position: relative; overflow: hidden;
      padding: .5em 8px .4em; margin:0 0 10px;
      transition: .2s;
    }
    th, td{
      position: static; padding: 0;margin: 0; text-align: left;
      border: none;
    }
    td{
      padding:.35em 0; text-align: left !important;
      border-bottom: 1px dotted $borderColor;
      &:last-child{ border: none;}
      &::before {
        content: attr(data-th); display: inline-block; margin-right: .5em;
        line-height: 1.7; height: 1.6em;
        vertical-align: top;
        background-color: $primaryColor; color: $white;
        padding: 0 .6em 1px 5px; border-radius: 3px 1em 1em 3px
      }
      &>a{ 
        text-decoration: underline; text-underline-offset: 3px;
        &:hover{text-decoration: none; color: $linkColor;}
      }
    }
  }
}
// ---------------------------------------------------------------- //