// .main>section:not(.qa){display: none}
// 首頁：常見問題
.qa{
  @extend %primSecWidth;
  ul{ }
  &>ul{
    list-style: none; margin: 0; padding: 0;
    line-height: 1.6;
    &>li{
      position: relative;
      padding: 24px 16px; margin: 8px 0;
      border-radius: 8px;
      background-color: #f2f9f9;
      p{
        margin:1em 0;
        &:first-child{margin-top: 0;}
        &:last-child{margin-top:0;}
      }
      .q{
        margin-right: 60px;font-size: 1.125em;
        button.ctrlBtn{
          position: absolute; right: 16px; top: 16px;
          border: none; outline: none; background-color: transparent;
          width: 44px; height: 44px; border-radius: 50%;
          cursor: pointer; transition: .2s;
          &::before {
            content: ''; 
            position: absolute;left: calc(50% - 5px); top:16px;
            width: 10px; height: 10px;
            border: 2px solid $gray700;
            border-left: none; border-top: none;
            rotate: 45deg;
            transition: .2s;
          }
          &:hover{
            background-color: $gray200;
            &::before {border-color: $black;}
          }
           &:focus{
            background-color: $primaryColor;
            &::before {border-color: $white;}
          }
          &.closeIt {
            background-color: $primaryColor;
            &::before {rotate: 225deg; top: 19px;border-color: $white;}
            &:focus{
              box-shadow: $white 0 0 0 1px, $primaryColor 0 0 0 4px;
            }
          }
        }
      }
      .a{
        display: none;
        border-top: 1px solid $borderColor;
        margin: 16px 0 0;padding: 16px 16px 0;
        img{
          display: block; margin: 16px auto;
          width: auto; height: auto; max-width: 100%;
        }
        ul, ol{ 
          margin-top: 1em;margin-bottom: 1em;
          &:first-child {margin-top: 0;}
          &:last-child {margin-bottom: 0;}
          li+li{ margin-top: .6em;}
        }
        ul{ list-style: disc;}
      }
    }
  }

}


// 常見問題條列頁（內頁）
.pageHeader ~ .qa {
  margin-top: 24px;
}