// 首頁：中心成立背景
// ---------------------------------------------------------------- //
.background{
  @extend %primSecWidth;
  .description{ 
    margin: 24px auto;
    text-align: center; font-size: 1.125em;line-height: 1.5;
    p{
      margin: 1.2em 0 0;
      &:first-child{margin-top: 0;}
    }
  }

  @media screen and (min-width: $wwNormal){
    .description{text-align: left;}
  }
}
