// 首頁：文件下載
// ---------------------------------------------------------------- //
.downloadFiles{
  @extend %primSecWidth;

  ul{list-style: none; margin: 0;padding: 0;}
  li{
    margin: 0;padding: 0;
    a{text-decoration: none;}
  }
  &>ul>li{
    padding:8px 4px 10px; line-height: 1.6;
    display: flex; flex-flow: row wrap;
    border-bottom: 1px solid $borderColorLight;
    .fileName{
      flex: 0 0 100%; order: 1;
      font-size: 1.125em; margin: 6px 0 2px;
    }
    ul.files{
      flex: 0 0 100%;order: 2;
      font-size: 1em;
      li{
        display: inline-block;
        margin:8px 4px 0 0; padding: 0;
      }
      a{
        padding: 5px 14px;display: block;outline: none;
        color: $fontColorLight; border-radius: 2em;
        box-shadow: $borderColor 0 0 0 1px inset;
        transition: .2s;
        &:hover, &:focus {
          color: $white; background-color: $primaryColor;
          box-shadow: none;
        }
      }
    }
    time{ order: 0; color: $fontColorLight;}
  }

  @media screen and (min-width: $wwNormal){

    &>ul>li{
      display: list-item; position: relative;
      padding:12px 6em 18px 4px; 
      .fileName{
        display: inline-block;
        margin: 5px 16px 6px 0;
      }
      ul.files{
        margin:0; display: inline-block;
        &>li{margin: 0 12px 0 0;}
      }
      time{ position: absolute; right: 0; top: 19px;}
    }
  
  }
}
// ---------------------------------------------------------------- //
