// 全站 <footer>
// ---------------------------------------------------------------- //
.siteFooter{
  position: relative;
  margin: 0;padding: 40px 0;
  background-color: $bgc;
  ul{ list-style: none; margin: 0; padding: 0; }
  li{ margin: 0; padding: 0; }
  a{ text-decoration: none; outline: none;}

  .footLogo{
    margin: 0 $marginDocMob 20px;
    a{ display: block;}
    img{ display: block; width: 60px;}
  }

  .contactInfo{
    outline: 1px solid #f008;
    outline-offset: -1px;

    width: $mobileWidth; margin: 24px auto 0;

  }

  .badge{
    width: 88px;
    img{ display: block; width: 100%; height: 31px; object-fit: cover; transition: .2s;}
    a{
      display: block;
      &:hover, &:focus {
        img{ box-shadow:$white 0 0 0 2px; }
      }
    }
  }


  @media screen and (min-width: $wwMedium){
    .siteTree{
      &>ul{
        display: flex; flex-wrap: wrap; gap: 18px;
        &>li{flex:0 0 calc(33.33% - 12px);}
      }
    }
  }

  @media screen and (min-width: $wwNormal){

    .footLogo{ margin-left: $marginDoc; }

    .siteTree{
      width: $normalWidth; margin-bottom: 40px;
      max-width: $maximumWidth;
      &>ul{ 
        gap: 20px;
        &>li{
          flex: 0 1 auto; min-width: 7em;
          li{ max-width: 12em; min-width: 100%;}
        }
      }
    }
    .imageLinks{
      width: $normalWidth; max-width: $maximumWidth;
      justify-content: flex-end;
      li{ margin: 0 0 0 5px;}
    }  

    .visiters{
      width: $normalWidth; max-width: $maximumWidth;
      text-align: right; padding-right: 10px;
    }

    .base{
      display: flex; justify-content: center;
      ul{
        margin: .4em 2em 0 0; width: auto;
        &>li{display: inline-block; margin: 0 2em;}
      }
    }

  }

  @media screen and (min-width: $wwMaximum){
    .footLogo { margin-left: $marginDocMax;}
    .base{ padding-left: $marginDocMob; padding-right: $marginDocMob;}
  }
}
// ---------------------------------------------------------------- //