// 首頁：三大落地實施策略
// ---------------------------------------------------------------- //
.strategies{
  @extend %primSecWidth;
  margin-top: 80px; margin-bottom: 80px;
  .description{ 
    text-align: center;font-size: 1.125em;line-height: 1.5;
    margin: 24px auto 0;
    p{
      margin: 1.2em 0 0;
      &:first-child{margin-top: 0;}
    }
  }
  ul{
    list-style: none; margin: 0;padding: 0; 
    line-height: 1.5;
  }
  li{
    margin: 24px auto; padding: 0;
    a{
      display: block; padding: 32px; min-height: 240px;
      text-decoration: none; border-radius: 24px;
      color: $fontColor; background-color: $bgc1;
      display: flex; flex-flow: column nowrap;
      transition: .2s;
      &:hover, &:focus{
        box-shadow: $bgc1 0 0 0 2px , rgb(0 0 0 / .3) 0 0 16px;
      }
    }
    img{
      box-sizing: content-box;
      display: block; width: 28px; height: 28px;
      padding: 10px;
      border-radius: 10px;
      background-color: $primaryColor;
    }
    .title{
      display: block; margin: 24px 0;
      font-weight: bold; font-size: 1.25em;
    }
    .fackMore{
      display: block; margin-top: auto;
      color: $fontColor;
      &::after { 
        content: ''; display: inline-block; width: 8px; height: 8px;
        margin:-4px 0 0 12px;
        vertical-align: middle;
        border: 2px solid $fontColor; border-left: none; border-bottom: none;
        rotate: 45deg;
      }
    }
  }
  @media screen and (min-width: $wwMedium){
    ul{
      display: flex; justify-content: space-between;
      margin: 20px auto;
    }
    li{
      flex: 0 0 31%;margin:32px 0;
      a{
        height: 100%;min-height: none; 
        padding: 24px; border-radius: 12px;
      }
    }
  }
  @media screen and (min-width: $wwNormal){
    .description{ text-align: left;}
    &>ul{
      max-width: 1000px; 
    }
    li{height: $normalWidthVW*.31; max-height:310px;}
  }

}
// ---------------------------------------------------------------- //